<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="headline-newest">Category 1</div>
      <div class="list-Browse-NewsRv">


       <div class="span6 offset3" style="margin-left:0px">
        <%= form_for(@product) do |f| %>


        <%= f.label :Id %>
        <%= f.text_field :id %>

        <%= f.label :Price %>
        <%= f.text_field :price %>

        <%= f.label :Date %>
        <%= f.text_field :date %>

        <%= f.label :Desc %>
        <%= f.text_field :desc %>

        <%= f.label :Image %>
        <%= f.text_field :img %>

        <%= f.label :'Category Id' %>
        <%= f.text_field :categoryid %>

        <%= f.label :Title %>
        <%= f.text_field :title %>



        <%= f.submit "Get data", class: "btn btn-large btn-primary" %>
        <% end %>
      </div>



    </div>
  </div>
</div>
</div>