<div class="container-home">
  <div class="items">
    <div class="clear" />
    <div class="newest">
      <div class="item-name"><%=@product.title%></div>
      <div class="list-Browse-NewsRv">
        <div class="bl-image2"><img src="<%=@product.img%>" />
        </div>
        <div class="price-detail">
          <div class="cell-item">
            <div class="item-id">Price:</div>
            <div class="item-id-content"><%=@product.price%></div>
          </div>
        </br>
        <div class="cell-item">
          <div class="item-id">Stock:</div>
          <div class="item-id-content"><%=@product.date%></div>
        </div>
      </br>

      <div class="cell-item">
        <div class="item-id"></div></br>
        <div class="item-id-content">

          <%= form_tag cart_path  do %>
          <p>
            <%= hidden_field_tag :id, @product.id %>
            <%= submit_tag "Add to cart" %>
          </p>
          <% if current_user.admin? %>
            <%= link_to "Delete", method: :delete,
            data: { confirm: "You sure delete product ?" } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <h3>Decription item</h3>
  <div class="desc-item">
   <%=@product.desc%>
 </div>
</div>


